<div data-role="page">
	<style>
		.ui-header .ui-title, .ui-footer .ui-title { margin-right: 0 !important; margin-left: 0 !important; }
	</style>

	<div data-role="header">
		<h1>Pro jQuery Mobile</h1>
	</div>

	<div data-role="content">
		<pre>
<% @file.each { |line| %><%= line %><% } %>
		</pre>
	</div>
</div>
