<div data-role="page">
	<style>
		.ui-header .ui-title, .ui-footer .ui-title { margin-right: 0 !important; margin-left: 0 !important; }
	</style>

	<div data-role="header">
		<h1>Pro jQuery Mobile</h1>
	</div>

	<div data-role="content">
		<ul data-role="listview" data-filter="true" data-divider-theme="b">
			<li data-role="list-divider">Path: <strong><%= @dir%></strong></li>
			<% @files.each do |file| %>
				<% if file.to_s != ".." || @dir != "/" %>
				<li>
					<a href="<%= file_link @dir, file %>" rel="external"><%= File.basename file %></a>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
